input,
textarea {
	&:focus,
	:active {
		outline: none !important;
		box-shadow: none !important;
	}
}

.form-label {
	font-weight: 700;
}

form {
	display: flex;
	flex-direction: column;
	.btn {
		margin-top: 1rem;
	}
}
