$primary: #003380 !default;
$secondary: #13c2e9 !default;
$light-background: #f2f5f7 !default;
$yellow: #ffc857;
$black: #000000;
$dark-grey: #424b5a;
$white: #fff;
$info: #2f80ed;
$success: #27ae60;
$warning: #e2b93b;
$error: #eb5757;
