.cart {
	p {
		margin-top: auto;
		margin-bottom: auto;
	}
	.product {
		display: grid;
		span {
			img {
				width: 100px !important;
			}
		}
		.card-body {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 5px;

			.info {
				.quantity {
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-column-gap: 5px;
					margin-top: 2rem;
					.buttons {
						display: flex;
						.btn {
							background-color: transparent !important;
							svg {
								color: $primary;
								width: 2rem;
								height: 2rem;
							}
						}
					}
				}
				.line-2 {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					margin-right: 0.7rem;
					svg {
						width: 2rem;
						height: 2rem;
						color: $primary;
					}
				}
			}
		}
	}
}
