.bg-light {
	margin: 0 !important;
	background-image: url(../../components/images/pexels-julia-larson-6455772.webp);
	// background-position: right bottom, left top;
	background-repeat: no-repeat, repeat;
	background-size: cover;
}
