.bg-dark {
	background-color: $primary !important;
	.container {
		.navbar-brand,
		.btn,
		.nav-link {
			&:hover {
				-moz-opacity: 0.7;
				-khtml-opacity: 0.7;
				opacity: 0.7;
			}
		}

		.navbar-brand {
			z-index: 2;
		}
		//shopping cart
		.btn {
			margin-left: auto;

			svg {
				height: 1.6rem;
				width: 1.7rem;

				path {
					stroke: $white;
				}
			}
		}
	}
	.navbar-toggler {
		border: none;
		color: transparent;
		z-index: 2;
		top: 1rem;
		right: 0.7rem;
		overflow: hidden;
		position: fixed;
		background-color: $primary;
		.navbar-toggler-icon {
			background-image: url("../../components/images/close-button.svg");
			color: $white;
		}
		&.collapsed {
			position: relative;
			right: 0 !important;
			top: 0 !important;

			.navbar-toggler-icon {
				background-image: url("../../components/images/hamburger.svg");
				color: $white;
			}
		}
	}
	.navbar-collapse {
		.me-auto {
			margin-top: 4.1rem;
			a {
				text-align: center;
			}
			.nav-link {
				font-size: 36px;
				font-weight: 700;
				color: $white;
				&.active {
					color: $yellow;
				}
			}
		}
		&.show {
			top: 0;
			left: 0;
			z-index: 1;
			position: fixed;
			height: 100%;
			background-color: $primary;
			min-width: 100%;
		}
	}
}
@media screen and (min-width: 992px) {
	.navbar {
		.container {
			display: grid;
			grid-template-columns: 1fr 3fr 1fr;
			.navbar-brand {
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 1;
			}
			.btn {
				grid-column-start: 5;
				grid-column-end: 6;
				grid-row-start: 1;
			}
			.navbar-collapse {
				grid-column-start: 2;
				grid-column-end: 5;
				grid-row-start: 1;

				.me-auto {
					margin-top: 0 !important;
					margin-right: 0 !important;
					.nav-link {
						font-size: 24px;
						font-weight: 500;
					}
				}
			}
		}
	}
}
